// {
//   "presets": [
//     [
//       "next/babel",
//       {
//         "preset-react": {
//           "runtime": "automatic"
//         }
//       }
//     ]
//   ]
// }
{
  "presets": ["next/babel"]
}
